.container{
    display: flex;
    flex-direction: row;
    background-color: rgb(183, 223, 223);
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item{
    background-color: rgb(174, 114, 230);
    padding: 10px;
    margin: 11px;
}