.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: aquamarine;
}
.grid-item{
    background-color: blueviolet;
    color: black;
    border:10px double blue;
}